.verify-class {
  width: 500px;
  height: 500px;

  background-color: blueviolet;
}
.verify-class:hover {
  background-color: rgb(142, 85, 196);
}

.layoutButton {
  margin-top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
